<!doctype html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
    <script src="search.js"></script>
    <link rel="stylesheet" href="search.css">
</head>
<body>
<div id="centerdiv" ng-controller="SearchController">
    <form ng-submit="new_search()">
    <input class="textbox"
           type="text"
           ng-model="search"
           ng-keyup="new_search()"
           ng-change="new_search()"
           placeholder="Search">
        <img src="refresh.png" class="search_height" ng-click="refresh()"/>
        <div class="suggestion" ng-show="show_search()">
            <ul class="nonlist"
                id="suggestion-container"
                ng-repeat="suggest in suggestions">
                <li ng-click="use_suggestion($event)">
                    {{suggest}}
                </li>
            </ul>
        </div>
    </form>
    <div class="centered">Press refresh to restart websockets.</div>
</div>
</body>
</html>


